######################################
## General

APP_ENV=local # Set to local for development (Currently unused)
APP_DEBUG=true # Set to false for production (Currently unused)
APP_URL=http://localhost # This is the application URL (Currently unused)
APP_COOKIE_DOMAIN=localhost # This is the domain for the cookie
# APP_ADMIN_PATH="new-admin-path" # Uncomment this line if you want to use a different admin file path

######################################
## Database

DB_DRIVER=mysql
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=""