.col-span-4 {
  grid-column: span 4 / span 4
}

.col-span-8 {
  grid-column: span 8 / span 8
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mt-8 {
  margin-top: 2rem
}

.grid {
  display: grid
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr))
}

.gap-2 {
  gap: 0.5rem
}

.rounded-xl {
  border-radius: 0.75rem
}

.border {
  border-width: 1px
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity))
}

.p-6 {
  padding: 1.5rem
}

.\!text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.font-bold {
  font-weight: 700
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}